.Board {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 720px;
  height: 720px;
  box-sizing: border-box;
  border: 3px solid black;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid black;
  border-top: 0;
}

.row:nth-child(3n) {
  border-bottom: 3px solid black;
}

.Cell {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  background: none;
  box-sizing: border-box;
  border-right: 1px solid black;
}

.Cell:nth-child(3n) {
  border-right: 3px solid black;
}

.Cell:last-child {
  border-right: 0;
}

.status-board {
  margin: 10px;
  text-align: center;
}
